# Игнорируем бинарники и сборочные директории
build/
cmake-build-*/
*.exe
*.o
*.so
*.a

# Системные файлы
.git/
.gitignore
.idea/
.vscode/

# Документация
*.md
README.md

# Временные файлы
*.tmp
*.log
*.ts